.midBar {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 10px;
  margin: 10px 20px;
}
.midBar__left,
.midBar__right {
  width: 15%;
  display: flex;
  gap: 15px;
}
.midBar__right {
  justify-content: right;
}
.midBar__center {
  width: 70%;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}
.midBar div {
  justify-content: right;
}
